body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto 1fr auto;
            height: 100vh;
        }
        header {
            background: repeating-linear-gradient(
                45deg,
                #8B4513,
                #8B4513 15px,
                #A0522D 15px,
                #A0522D 30px,
                #D2691E 30px,
                #D2691E 45px,
                #8B4513 45px,
                #8B4513 60px
            );
            padding: 10px;
            grid-column: 1 / -1;
        }
        footer {
            background-color: rgba(128, 0, 0, 0.5); /* Bordo renginin %50 transparan hali */
            padding: 10px;
            grid-column: 1 / -1;
        }
        nav {
            display: flex;
            justify-content: center;
        }
        nav a {
            background-color: #D2691E;
            border: 2px solid #8B4513;
            color: white;
            padding: 10px 20px;
            margin: 0 5px;
            text-decoration: none;
            border-radius: 5px;
            transition: transform 0.1s, background-color 0.1s, color 0.1s;
        }
        nav a.active {
            transform: translateY(4px);
            background-color: #A0522D;
        }
        nav a.active:hover {
            background-color: #B0C4DE; /* Çelik rengi */
            color: black; /* Yazı rengi */
        }
        nav a:hover {
            background-color: #E07B36; /* Bir miktar daha açık renk */
        }
        section {
            display: none;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            overflow-y: auto;
			margin: 5px 0 5px 10px
        }
        .section1 {
            background: repeating-linear-gradient(
                135deg,
                #006400,
                #006400 15px,
                #228B22 15px,
                #228B22 30px,
                #32CD32 30px,
                #32CD32 45px,
                #006400 45px,
                #006400 60px
            );
        }
        .section2 {
            background: repeating-linear-gradient(
                135deg,
                #8B0000,
                #8B0000 15px,
                #B22222 15px,
                #B22222 30px,
                #FF4500 30px,
                #FF4500 45px,
                #8B0000 45px,
                #8B0000 60px
            );
        }
        .section3 {
            background: repeating-linear-gradient(
                135deg,
                #00008B,
                #00008B 15px,
                #1E90FF 15px,
                #1E90FF 30px,
                #87CEEB 30px,
                #87CEEB 45px,
                #00008B 45px,
                #00008B 60px
            );
			justify-content:center;
			align-items: middle;
        }
        .card {
            background: darkgray;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: white;
            text-align: center;
			justify-content:space-between;
            transition: transform 0.2s;
			width:85%;
			height: 200px;
			margin-bottom:15px;
        }
        .card:hover {
            transform: translateY(-5px);
            background-color: #A9A9A9;
        }
        aside {
            grid-row: 2 / 2;
            background: purple;
            padding: 10% 0 10%px %25;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: white;
			text-align:center;
        }

		.card img{
			width:100%;
			height:100%;
			object-fit: cover;
			justify-content:center;
			align-items:center;
			margin:10px 0 5px 10px;
		}
		nav a{font-size:15px;}
